extends layout

block content
    h1 Create
    form(action='create', method='post')
        table
            tbody
                tr
                    th
                        label(for='name') Name
                    td
                        input(id='name', name='name')
                tr
                    th
                        label(for='age') Age
                    td
                        input(id='age', name='age')
                tr
                    td(colspan='2')
                        input(type='submit', value='Save')